.btn {
    position: relative;
    @extend %inline-flex;
    @extend %align-middle;
    @extend %align-center;
    @extend %user-cursor;
    @extend %primary-transition;
    max-width: 100%;

    & > span {
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > img,& > svg, & > .icon {
        font-size: rem(24);

        &.icon-play {
            font-size: rem(16);
        }
        
        &:last-child:not(:only-child) {
            margin-left: rem(8);
        }

        &:first-child:not(:only-child) {
            margin-right: rem(8);
        }
    }

    // types ******************************
    &_main {
        background-color: $color-main;
        color: #fff;

        &-light {
            background-color: map-get($color-scheme, 'main-10'); 
            color: $color-main;
        }

        &-border {
            border: rem(1) solid $color-main;
            color: $color-main;
        }
    }

    &_gradient {
        background: linear-gradient(90deg, map-get($color-scheme, 'gradient-start') 0%, map-get($color-scheme, 'gradient-end') 100%);
        color: #fff;
    }

    &_badge {
        padding-left: 0;
        padding-right: 0;
    }

    &.tab {
        &.active {
            background-color: map-get($color-scheme, 'main-10');
            color: $color-main;
        }
    }

    // sizes ***************************
    &_sm {
        height: rem(40);
        padding-left: rem(16);
        padding-right: rem(16);
        border-radius: rem(8);

        &.btn_badge {
            width: rem(40);
        }

        & > span {
            font-size: rem(15);
        } 
    }

    &_md {
        border-radius: rem(12);
        height: rem(48);
        padding-left: rem(20);
        padding-right: rem(20);

        &.btn_badge {
            width: rem(48);
        }

        & > span {
            font-size: rem(15);
        } 
    }

    &_lg {
        border-radius: rem(12);
        height: rem(56);
        padding-left: rem(20);
        padding-right:  rem(20);

        &.btn_badge {
            width: rem(56);
        }

        & > span {
            font-size: rem(16);
        } 
    }
}