.news-card {
    position: relative;
    @extend %flex;

    &__desc {
        @include max-lines(3);
    }

    &_single {
        @include flex-flow(column, nowrap);
        
        .news-card {
            &__img {
                overflow: hidden;
                margin-bottom: rem(16);
            }
        
            &__date {
                margin-bottom: rem(16);
            }
        }
    }

    &_landscape {
        @extend %align-top;

        .news-card {
            &__body {
                @include flex(1, 1, auto);
                padding-right: rem(16);
            }
        
            &__date {
                margin-bottom: rem(4);
            }
        
            &__title {
                line-height: 140%;
            }
        
            &__img {
                @include flex(0, 0, auto);
                border-radius: rem(8);
                overflow: hidden;
        
                img {
                    width: rem(220);
                }
            }
        }
    }
}