@import "utils/_module";
@import "core/_icons";

.sidebar {
    background-color: map-get($color-scheme, 'black');
}

.main-logo {
    img {
        width: rem(162);
    }
}

.explore-block {
    background: linear-gradient(180deg, #F1F0FF 0%, rgba(241, 240, 255, 0.46) 100%);
}

.advantages {
    background-color: #ECF4FE;
}

.countdown {
    background: map-get($color-scheme, 'black-90');

    &::after {
        background-color: #4DB5FF;
    }
}