@import "utils/_module";
@import "core/_icons";

.sidebar {
    background-color: #051435;
}

.main-logo {
    img {
        width: rem(167);
    }
}

.explore-block {
    background: linear-gradient(205deg, rgba(0, 104, 255, 0.10) 7.77%, rgba(0, 104, 255, 0.00) 98.13%);
}

.advantages {
    background-color: #ECF4FE;
}

.countdown {
    background: #051435;

    &::after {
        background-color: #0B85F4;
    }
}