.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

.disabled {
    pointer-events: none;
    user-select: none;
}

.font-bold {
    font-weight: bold;
}

.font-extrabold {
    font-weight: 800;
}

.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}

.font-black {
    font-weight: 900;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.hide {
    display: none !important;
}

.dn {
    display: none;
}

.hidden {
    @extend %hidden;
}

.shown {
    @extend %show;
}

.uppercase {
    text-transform: uppercase;
}

.cursor {
    cursor: pointer;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Colors
.bg {
    @each $name, $color in $color-scheme {
        &-#{$name} {
            background-color: $color;
        }
    }

    &-inherit {
        background-color: inherit;
    }
}

.color {
    @each $name, $color in $color-scheme {
        &-#{$name} {
            color: $color;
        }
    }

    &-inherit {
        color: inherit;
    }
}

// Shadows
.shadow {
    @each $name, $shadow in $shadows {
        &-#{$name} {
            border-top: rem(1) solid map-get($color-scheme, 'black-25');
            box-shadow: $shadow;
            background-color: #fff;
        }
    }

    &-inherit {
        box-shadow: inherit;
    }
}

.radius-md {
    border-radius: rem(24);
}
.radius-sm {
    border-radius: rem(20);
}
.radius-xs {
    border-radius: rem(16);
}
.radius-xxs {
    border-radius: rem(12);
}

.fit {
    width: 100%;
}

.round-badge {
    border-radius: 50%;
    @extend %flex;
    @extend %align-middle;
    @extend %align-center;
}


@media (max-width: $media-xl) {
    .hide-xl {
        display: none;
    }

    .show-xl {
        display: block;

        &.flex-container,
        &.xl-flex-container {
            display: flex;
        }
    }
}

@media (max-width: $media-lg) {
    .hide-lg {
        display: none;
    }

    .show-lg {
        display: block;

        &.flex-container,
        &.lg-flex-container {
            display: flex;
        }
    }
}

@media (max-width: $media-md) {
    .hide-md {
        display: none;
    }

    .show-md {
        display: block;

        &.flex-container,
        &.md-flex-container {
            display: flex;
        }
    }
}

@media (max-width: $media-sm) {
    .hide-sm {
        display: none;
    }

    .show-sm {
        display: block;

        &.flex-container {
            display: flex;
        }
    }
}